@model HealthNCare.Models.DatapickerModel
 <h1 class="display display-2">Uygun Randevu Zamanını Seçiniz</h1>

<form asp-action="Date">
  <label for="birthday">Randevu Tarihleri:</label>
  <input type="date" id="appointment" name="time">
  <input class="btn btn-secondary" type="submit" value="Onayla">
</form>
