@model HealthNCare.Models.Location
<h1 class="display-2">Tedavi Konumunu Seçiniz</h1>
<div>
    <form method="post" asp-action="Location">
        <div  class="form-group my-2">
            <label>Lütfen Konum Ayarlarıyınız</label>
            <select  asp-for="Name"class="form-control">
                <option value="Istanbul">İstanbul</option>
                <option value="Ankara">Ankara</option>
                <option value="Izmir">İzmir</option>
                <option value="Hatay">Hatay</option>
                <option value="Edirne">Edirne</option>
                <option value="Kirklareli">Kırklareli</option>
                <option value="Iğdir">Iğdır</option>
            </select>
        </div>
    </form>
    <div>
        <a asp-controller="TurkishSelection" asp-action="Hospital" class="btn btn-secondary">Sonraki</a>
    </div>
</div>