<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>@ViewData["Title"]HealthNCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthNCare.styles.css" asp-append-version="true" />
    <style>
        a:hover{background-color: aquamarine; border-radius: 15px;}
        a:link{border-radius: 15px; }
        body{background-repeat: no-repeat;background-attachment: fixed;background-size: cover;
            background-image: url(/images/modern-healthcare-approach-doctors-using-tablets-records.jpg);}
            h1{color: white;}
            h2{color: white;}
            h3{color: white;}
            h4{color: white;}
            h5{color: white;}
            h6{color: white;}
            div{color: white;}
            table{color: white;}
            thead{color: white;}
            tbody{color: white;}
            td{color: white;}
    </style>
   
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
                <div class="container">
            <!-- Left side -->
            <div class="navbar-nav mr-auto">
                <!-- Put your left side navigation links here -->
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Languages">Languages</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Treatment" asp-action="Apply">Register</a>
            </div>

            <!-- Center (Logo) -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/HealthNCareLogo.png" alt="HeathNCare Logo" style="width: 125px;height:75;">
               </a>

            <!-- Right side -->
            <div class="navbar-nav ml-auto">
                <!-- Register and login options -->
                          <a class="nav-link text-dark" asp-area="" asp-controller="Treatment" asp-action="Sign"><i class="fa-solid fa-user"></i>Patient Login</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Treatment" asp-action="DoctorSign"><i class="fa-solid fa-user"></i>Doctor Login</a>
             
      
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div style="margin: auto;" class="container">
            -HealthNCare For Your Appoinments-
            <!-- &copy; 2024 - HealthNCare - -->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
