@model HealthNCare.Models.Doctor
<h1 class="display-2">Doctor Information</h1>
<div>
    <form method="post" asp-action="Doctor">
       <div class="form-group my-2">
        <label asp-for="Name" class="control-label">Please Select an Available Doctor</label>
            <select asp-for="Name" class="form-control">
                <option value="Mehmet Kandemir">Mehmet Kandemir</option>
                <option value="Mehmet Kaya">Mehmet Kaya</option>
                <option value="Ayse Nazli">Ayşe Nazlı</option>
                <option value="Bulent Goksu">Bülent Göksu</option>
                <option value="Bihter Zıyagil">Bihter Ziyagil</option>
                <option value="Ali Riza">Ali Rıza</option>
                <option value="John Wick">Kevin McMahon</option>
            </select>
        </div>
    </form>
    <div>
        <a asp-controller="Selection" asp-action="Treatment" class="btn btn-secondary">Next</a>
    </div>
</div>