@model Location
<h1 class="display-2">Location of Treatment</h1>
<div>
    <form method="post" asp-action="Location">
        <div class="form-group my-2">
            <label>Please Select an Available Location</label>
            <select asp-for="Name" class="form-control">
                <option value="Istanbul">İstanbul</option>
                <option value="Ankara">Ankara</option>
                <option value="Izmir">İzmir</option>
                <option value="Hatay">Hatay</option>
                <option value="Edirne">Edirne</option>
                <option value="Kirklareli">Kırklareli</option>
                <option value="Iğdir">Iğdır</option>
            </select>
        </div>
    </form>
    <div>
        <a asp-controller="Selection" asp-action="Hospital" class="btn btn-secondary">Next</a>
    </div>
</div>