<style>
    tr:hover {background-color: aquamarine;}
    
</style>

<h1 >Upcoming Treatment</h1>
<table class="table table-hover table-striped" ">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Treatment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mehmet Kandemir</td>
            <td>İstanbul</td>
            <td>20/05/2025</td>
            <td>Dahiliye</td>
        </tr>
    </tbody>
</table>
<h1>Applied Treatment</h1>
<table class="table table-hover table-striped" >
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Treatment</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ali Rıza</td>
            <td>İzmir</td>
            <td>02/06/2023</td>
            <td>Genel Cerrahi</td>
        </tr>
    </tbody>
</table>
