@model Department
<h1 class="display-2">Remedy</h1>
<div>
    <form method="post" asp-action="Location">
        <div class="form-group my-2">
        <label>Select an Available Remedy</label>
        <select asp-for="Name" class="form-control">
            <option value="Dahiliye">Dahiliye</option>
            <option value="Kulak/Burun/Boğaz">Kulak/Burun/Boğaz</option>
            <option value="Deri ve Zührevi Hastalıklar ">Deri ve Zührevi Hastalıklar</option>
            <option value="Çocuk Sağlığı ve Hastalıkları ">Çocuk Sağlığı ve Hastalıkları</option>
            <option value="Genel Cerrahi">Genel Cerrahi</option>
        </select>
    </div>
    </form>
    <div>
        <a asp-controller="Selection" asp-action="Date" class="btn btn-secondary">Next</a>
    </div>
</div>