@model Patient
<div>
<h4 class="displayment 4">Thanks for your registiration @Model.FirstName @Model.SecondName</h4>
<p>
    Now you can sign up via <a asp-controller="Treatment" asp-action="Sign" class="btn btn-primary">Sign Up</a>
</p>
</div>