@model Patient
<div>
    <h1 class="display-1">
        Congrulations
    </h1>
    <blockquote class="blockquote">
    You have enrolled to our HealthNCare System
    </blockquote>
    <p>
        Please sign in @Model.FullName
    </p>
    <div class="btn-group">
        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Home">Appointed Treatment</a><!--href="#"==>asp-action="Index" asp-controller="Home"-->
    </div>
</div>