<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" asp-controller="Patient" asp-action="Register">afdsada</button>
            <a asp-controller="MyController" asp-action="MyAction" class="text-white">My Button</a>
        </div>
    </div>
</div>