@{
    ViewData["Title"] = "Randevu Kaydı";
}

<h2>Tebrikler Randevunuz Başarıyla Sisteme Kaydedildi!</h2>

<p>Kontrol Etmeyi Unutmayın!</p>

<a asp-controller="PatientPageT" asp-action="Patientpage">Anasayfa</a>
