@model AppointmentViewModel

@{
    ViewData["Title"] = "Select Date and Time";
}

<h2>Please Select Date and Time</h2>

<form asp-action="SelectDateTime" method="post">
    <div>
        <label for="SelectedDateId">Date:</label>
        <select id="SelectedDateId" name="SelectedDateId" class="form-control">
            @foreach (var date in Model.AppointmentDates)
            {
                <option value="@date.AppointmentDateId">@date.Date.ToShortDateString()</option>
            }
        </select>
    </div>
    <div>
        <label for="SelectedTimeId">Time:</label>
        <select id="SelectedTimeId" name="SelectedTimeId" class="form-control">
            @foreach (var time in Model.AppointmentTimes)
            {
                <option value="@time.AppointmentTimeId">@time.Time.ToString(@"hh\:mm")</option>
            }
        </select>
    </div>
    <br>
    <button style="margin: auto;" type="submit" class="btn btn-primary">Continue</button>
</form>
