@page
@model RegisterModel
@{
    ViewData["Title"] = "Register ";
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" />
                <label asp-for="Input.FirstName" style="color: grey;">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="last name" />
                <label asp-for="Input.LastName" style="color: grey;">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
                </div>

            </div>
            
            
            <div class="form-floating mb-3">
                <fieldset>
        <legend>Select Your Age Interval</legend>
        <p>
            <input id="<18" type="radio" asp-for="Input.Age" value="18" checked>
            <label>Less than 18</label>
            <input id="18-25" type="radio" asp-for="Input.Age" value="18-25">
            <label>18-25</label>
            <input id="25-35" type="radio" asp-for="Input.Age" value="25-35">
            <label>25-35</label>
            <input id="35-45" type="radio" asp-for="Input.Age" value="35-45">
            <label>35-45</label>
            <input id="45-55" type="radio" asp-for="Input.Age" value="45-55">
            <label>45-55</label>
            <input id=">55" type="radio" asp-for="Input.Age" value="55">
            <label>More than 55</label>
        </p>
    </fieldset>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                <input asp-for="Input.Weight" class="form-control" autocomplete="weight" aria-required="true" placeholder="weight" />
                <label asp-for="Input.Weight" style="color: grey;">Weight</label>
                 <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
                </div>
                <div class="col-6">
                <div class="form-floating mb-3">
                <input asp-for="Input.Height" class="form-control" autocomplete="height" aria-required="true" placeholder="height" />
                <label asp-for="Input.Height" style="color: grey;">Height</label>
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>
            </div>
                </div>
           <div class="row">
                <div class="col-6">
                    <h5>Select Blood Type</h5>
            <div class="form-floating mb-3">
             <select asp-for="Input.BloodType" class="form-control">
             <option value="ORh-">ORh-</option>
             <option value="ORh+">ORh+</option>
             <option value="ARh-">ARh-</option>
             <option value="ARh+">ARh+</option>
             <option value="BRh-">BRh-</option>
             <option value="BRh+">BRh+</option>
             <option value="ABRh-">ABRh-</option>
             <option value="ABRh+">ABRh+</option>
             </select>
               
            </div>

            </div>

                <div class="col-6">
                 <div class="form-floating mb-3">
        <h5>Select Your Gender</h5>
        <select asp-for="Input.Gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        </select>
            </div>
            </div>
 
            
            
           
    <br>
    <div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" style="color: grey;">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" style="color: grey;">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" style="color: grey;">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
