@model Patient
<div>
<h4 class="displayment 4">Kaydolduğun için teşekkürler @Model.FirstName @Model.SecondName</h4>
<p>
    Şimdi giriş yapabilirsiniz <a asp-controller="TurkishTreatment" asp-action="Sign" class="btn btn-primary">Giriş</a>
</p>
</div>