<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splide Slider in MVC</title>
    <!-- Include Splide CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@@splidejs/splide@3.0.9/dist/css/splide.min.css">
    <style>
        /* Adjust the width and height of the images */
        .splide__slide__container img {
            width: 600px; /* Set your desired width */
            height: 400px; /* Set your desired height */
            object-fit: cover; /* Optional: maintain aspect ratio and cover the container */
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">HealthNCare Randevu Sistemine Hoşgeldiniz</h1>
<h3 style="text-align: center;">Haberler</h3>
<div class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="splide__slide__container">
                   <a href="https://www.trthaber.com/haber/saglik/koronavirus-dunya-genelinde-beklenen-yasam-suresini-yaklasik-2-yil-kisaltti-859748.html"> <img src="/images/maskeli dörtler.jpeg" alt="Slide 1"></a>
                </div>
            
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                  <a href="https://www.trthaber.com/haber/saglik/beklenen-yasam-suresi-kuresel-capta-45-yil-artacak-858733.html"> <img src="/images/lanetist.jpeg" alt="Slide 2"></a> 
                </div>
                
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                 <a href="https://www.trthaber.com/haber/saglik/astim-hastalarina-tedavi-ve-kontrol-uyarisi-857379.html"> <img src="/images/astç.jpeg" alt="Slide 3"></a>  
                </div>
                
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <a href="https://www.trthaber.com/haber/saglik/bazi-raporlu-ilaclari-aile-hekimleri-yazabilecek-858142.html"><img src="/images/b4.jpg" alt="Slide 3"></a>
                </div>
                
            </li>
        </ul>
    </div>
</div>

<!-- Include Splide JS -->
<script src="https://unpkg.com/@@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
            type: 'loop',
            height: '18rem',
            perPage: 2,
            breakpoints: {
                640: {
                    height: '6rem',
                },
            },
        }).mount();

        // Function to advance to the next slide
        function nextSlide() {
            splide.go('>');
        }

        // Set interval to change slide every 3 seconds (3000 milliseconds)
        setInterval(nextSlide, 3000);
    });
</script>

</body>
</html>
