<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splide Slider in MVC</title>
    <!-- Include Splide CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@@splidejs/splide@3.0.9/dist/css/splide.min.css">
    <style>
        /* Adjust the width and height of the images */
        .splide__slide__container img {
            width: 600px; /* Set your desired width */
            height: 400px; /* Set your desired height */
            object-fit: cover; /* Optional: maintain aspect ratio and cover the container */
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">HealthNCare Randevu Sistemine Hoşgeldiniz</h1>
<div class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <img src="/images/b1.jpg" alt="Slide 1">
                </div>
            
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <img src="/images/b2.jpg" alt="Slide 2">
                </div>
                
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <img src="/images/b3.jpg" alt="Slide 3">
                </div>
                
            </li>
            <li class="splide__slide">
                <div class="splide__slide__container">
                    <img src="/images/b4.jpg" alt="Slide 3">
                </div>
                
            </li>
        </ul>
    </div>
</div>

<!-- Include Splide JS -->
<script src="https://unpkg.com/@@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
            type: 'loop',
            height: '18rem',
            perPage: 2,
            breakpoints: {
                640: {
                    height: '6rem',
                },
            },
        }).mount();

        // Function to advance to the next slide
        function nextSlide() {
            splide.go('>');
        }

        // Set interval to change slide every 3 seconds (3000 milliseconds)
        setInterval(nextSlide, 3000);
    });
</script>

</body>
</html>
