
    <style>
    </style>
    <div class="text-center">
        <h1 style="color: white;" class="display-4">HealthNCare</h1>
        <div class="container p-5 my-5 bg-light text-info" style="border-radius: 8px;">
        <p style="color: white;">
            <a style="color: white;" asp-controller="Selection" asp-action="Location" class="btn btn-info">Create an Appoinment</a><!-- asp-controller viewdeki dosyaya gönderiyor asp-action ise dosyadaki sayfaya gönderiyor-->
        </p>
        </div>
        <div class="container p-5 my-5 bg-info text-white" style="border-radius: 8px;">
            <p>
                Past and Upcoming Appoinments
            </p>
            <p>
            <a asp-controller="Selection" asp-action="TreatmentShow" class="btn btn-primary">Past and Upcoming Appoinments</a>
            </p>
        </div>
        
    </div>