<html>
    <head>
       
    </head>
    <body>
    <div class="container p-5 my-5 bg-light text-info" style="border-radius: 8px;">
        <p style="text-align: center;">
            <a asp-controller="DoctorPage" asp-action="Patient" class="btn btn-info">Patient Informations</a><!-- asp-controller viewdeki dosyaya gönderiyor asp-action ise dosyadaki sayfaya gönderiyor-->
        </p>
        </div>
    </body>
</html>
