
<style>
    tr:hover{background-color: aquamarine;}
</style>
<table class="table table-hover table striped" style="color: white;">
    <thead>
        <tr>
            <th>Fullname</th>
            <th>E-mail</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Test User</th>
        <th>test.gmail.com</th>
        <th>1234567</th>
        </tr>
    </tbody>
</table>
<table class="table table-hover table stripped" style="color: white;" >
    <thead>
        <tr tr:hover{background-color:blue}>
        <th>Age</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Bloodtype</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>21 years old</th>
        <th>64 kg</th>
        <th>173cm</th>
        <th>0Rh+</th>
        </tr>
    </tbody>
</table>
